# Section 0: Import Dependencies

In [45]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from sqlalchemy import create_engine, func
from sqlalchemy.ext.automap import automap_base
import pymongo
from sqlalchemy.orm import Session

In [49]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [/Users/carlospazos/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

# Section 1: Data Scraping

In [50]:
#Initialize Lists to store information
quotes= []
tags= []
name= []
born= []
description= []

# URL of initial page to be scraped
url = 'http://quotes.toscrape.com/'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#Initialize variables to capture all possible pages and quote counts
nextp=True

#Go page by page till the "Next" button is not present
while nextp==True:
    
    #Get divs for all quotes and tags
    all_quotes = soup.find_all('div', class_='quote')
    all_tags = soup.find_all('div', class_='tags')

    #Extract all quotes and append
    for x in range(0,len(all_quotes)):   

        quotes.append(all_quotes[x].span.text)
    
    #Extract all tags per quote and append, list of tags
    for x in range(0,len(all_tags)):

        temp_tag = []
        num_tags = len(all_tags[x].find_all('a'))

        for y in range(0,num_tags):
            temp_tag.append(all_tags[x].find_all('a')[y].text)

        tags.append(temp_tag)    

    #Navigate to about of each tile and extract name, born, and description
    for x in range(0,len(all_quotes)):
        
        #Find especific href for each tile in the page, "about" <a> tag
        url = 'http://quotes.toscrape.com'+all_quotes[x].a['href']
        browser.visit(url)
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
        
        #Extract name and append
        name.append(soup.find('div', class_='author-details').find('h3').text)
        
        #Extract born details and append
        date = soup.find('div', class_='author-details').find('span', class_='author-born-date').text
        place = soup.find('div', class_='author-details').find('span', class_='author-born-location').text
        born.append(date + " born " + place)
        
        #Extract description
        description.append(soup.find('div', class_='author-description').text.strip())
          
    
#     #Go back in browser to find current quotes page   
    for y in range(0,len(all_quotes)):
        browser.back()
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    #Find out if Next button is present
    if browser.is_text_present('Next '):
        browser.links.find_by_partial_text('Next ').click()
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
        
    else:
        nextp=False

#Close browser session
browser.quit()

# Section 2: Store into MongoDB

In [55]:
#Create connection to MongoDB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.quotes_db

# Declare the collection
quotes_col = db.quote_collection

In [56]:
#Store data in MongoDB
for x in range(0,len(quotes)):
    doc= {
        'quote_text':quotes[x],
        'tags':tags[x],
        'author_name':name[x],
        'author_details': {
            'born':born[x],
            'description':description[x]
        }
        
    }
    quotes_col.insert_one(doc)

# Section 3: Extract Data from MongoDB and Load in Postgres

In [60]:
#Read all Data from MongoDB
results = quotes_col.find()

In [61]:
#Connect to Postgress
rds_connection_string = "carlospazos@127.0.0.1:5432/quotes_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [62]:
# Confirm tables
engine.table_names()

['quotes', 'author', 'tag']

In [63]:
#Create Pandas Data Frame for quotes table
quotedf = pd.DataFrame({'author_name': name, 'text':quotes})

#Remove "" characters from quotes
quotedf['text']=quotedf['text'].apply(lambda x: x.replace('“',""))

quotedf['text']=quotedf['text'].apply(lambda x: x.replace('”',""))

quotedf.head()

       author_name                                               text
0  Albert Einstein  The world as we have created it is a process o...
1     J.K. Rowling  It is our choices, Harry, that show what we tr...
2  Albert Einstein  There are only two ways to live your life. One...
3      Jane Austen  The person, be it gentleman or lady, who has n...
4   Marilyn Monroe  Imperfection is beauty, madness is genius and ...

In [64]:
quotedf['text'][0]

'The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.'

In [65]:
#Create Pandas Data Frame for author table
authordf = pd.DataFrame({'author_name': name, 'born':born, 'description':description})
authordf.head()

,author_name,born,description
0,Albert Einstein,"March 14, 1879 born in Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ..."
1,J.K. Rowling,"July 31, 1965 born in Yate, South Gloucestersh...",See also: Robert GalbraithAlthough she writes ...
2,Albert Einstein,"March 14, 1879 born in Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ..."
3,Jane Austen,"December 16, 1775 born in Steventon Rectory, H...",Jane Austen was an English novelist whose work...
4,Marilyn Monroe,"June 01, 1926 born in The United States",Marilyn Monroe (born Norma Jeane Mortenson; Ju...

In [66]:
#Create Pandas Data Frame for tag table
tagdf = pd.DataFrame({'tag': tags})
tagdf.head()

                                              tag
0        [change, deep-thoughts, thinking, world]
1                            [abilities, choices]
2  [inspirational, life, live, miracle, miracles]
3              [aliteracy, books, classic, humor]
4                    [be-yourself, inspirational]

In [67]:
#Insert dataframes into Postgress DB
quotedf.to_sql(name='quotes', con=engine, if_exists='append', index=False)
authordf.to_sql(name='author', con=engine, if_exists='append', index=False)
tagdf.to_sql(name='tag', con=engine, if_exists='append', index=False)

In [ ]:
#Close session
session.close()