# Section 0: Import Dependencies

In [234]:
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from sqlalchemy import create_engine, func
from sqlalchemy.ext.automap import automap_base
import pymongo
from sqlalchemy.orm import Session

In [220]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com/89.0.4389.23/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/carlospazos/.wdm/drivers/chromedriver/mac64/89.0.4389.23]

# Section 1: Data Scraping

In [221]:
#Initialize Lists to store information
quotes= []
tags= []
name= []
born= []
description= []

# URL of initial page to be scraped
url = 'http://quotes.toscrape.com/'
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#Initialize variables to capture all possible pages and quote counts
nextp=True

#Go page by page till the "Next" button is not present
while nextp==True:
    
    #Get divs for all quotes and tags
    all_quotes = soup.find_all('div', class_='quote')
    all_tags = soup.find_all('div', class_='tags')

    #Extract all quotes and append
    for x in range(0,len(all_quotes)):   

        quotes.append(all_quotes[x].span.text)
    
    #Extract all tags per quote and append, list of tags
    for x in range(0,len(all_tags)):

        temp_tag = []
        num_tags = len(all_tags[x].find_all('a'))

        for y in range(0,num_tags):
            temp_tag.append(all_tags[x].find_all('a')[y].text)

        tags.append(temp_tag)    

    #Navigate to about of each tile and extract name, born, and description
    for x in range(0,len(all_quotes)):
        
        #Find especific href for each tile in the page, "about" <a> tag
        url = 'http://quotes.toscrape.com'+all_quotes[x].a['href']
        browser.visit(url)
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
        
        #Extract name and append
        name.append(soup.find('div', class_='author-details').find('h3').text)
        
        #Extract born details and append
        date = soup.find('div', class_='author-details').find('span', class_='author-born-date').text
        place = soup.find('div', class_='author-details').find('span', class_='author-born-location').text
        born.append(date + " born " + place)
        
        #Extract description
        description.append(soup.find('div', class_='author-description').text.strip())
          
    
    #Go back in browser to find current quotes page   
    for y in range(0,len(all_quotes)):
        browser.back()
    
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')

    #Find out if Next button is present
    if browser.is_text_present('Next '):
        browser.links.find_by_partial_text('Next ').click()
        html = browser.html
        soup = BeautifulSoup(html, 'html.parser')
        
    else:
        nextp=False

#Close browser session
browser.quit()

# Section 2: Store into MongoDB

In [223]:
#Create connection to MongoDB
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.quotes_db

# Declare the collection
quotes_col = db.quote_collection

In [224]:
#Store data in MongoDB
for x in range(0,len(quotes)):
    doc= {
        'quote_text':quotes[x],
        'tags':tags[x],
        'author_name':name[x],
        'author_details': {
            'born':born[x],
            'description':description[x]
        }
        
    }
    quotes_col.insert_one(doc)

# Section 3: Extract Data from MongoDB and Load in Postgres

In [204]:
#Read all Data from MongoDB
results = quotes_col.find()

In [209]:
#Connect to Postgress
rds_connection_string = "carlospazos@127.0.0.1:5432/quotes"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [210]:
# Confirm tables
engine.table_names()

['quotes', 'author', 'tag']

In [215]:
#Create Pandas Data Frame for quotes table
quotedf = pd.DataFrame({'author_name': name, 'text':quotes})
quotedf.head()

       author_name                                               text
0  Albert Einstein  “The world as we have created it is a process ...
1     J.K. Rowling  “It is our choices, Harry, that show what we t...
2  Albert Einstein  “There are only two ways to live your life. On...
3      Jane Austen  “The person, be it gentleman or lady, who has ...
4   Marilyn Monroe  “Imperfection is beauty, madness is genius and...

In [216]:
#Create Pandas Data Frame for author table
authordf = pd.DataFrame({'author_name': name, 'born':born, 'description':description})
authordf.head()

,author_name,born,description
0,Albert Einstein,"March 14, 1879 born in Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ..."
1,J.K. Rowling,"July 31, 1965 born in Yate, South Gloucestersh...",See also: Robert GalbraithAlthough she writes ...
2,Albert Einstein,"March 14, 1879 born in Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ..."
3,Jane Austen,"December 16, 1775 born in Steventon Rectory, H...",Jane Austen was an English novelist whose work...
4,Marilyn Monroe,"June 01, 1926 born in The United States",Marilyn Monroe (born Norma Jeane Mortenson; Ju...

In [217]:
#Create Pandas Data Frame for tag table
tagdf = pd.DataFrame({'tag': tags})
tagdf.head()

                                              tag
0        [change, deep-thoughts, thinking, world]
1                            [abilities, choices]
2  [inspirational, life, live, miracle, miracles]
3              [aliteracy, books, classic, humor]
4                    [be-yourself, inspirational]

In [218]:
#Insert dataframes into Postgress DB
quotedf.to_sql(name='quotes', con=engine, if_exists='append', index=False)
authordf.to_sql(name='author', con=engine, if_exists='append', index=False)
tagdf.to_sql(name='tag', con=engine, if_exists='append', index=False)

In [247]:
#Connect to Postgress
rds_connection_string = "carlospazos@127.0.0.1:5432/quotes"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [248]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save reference to the table
author = Base.classes.author
quotes = Base.classes.quotes
tag = Base.classes.tag

In [249]:
session = Session(engine)

In [254]:
list_authors = session.query(func.distinct(author.author_name)).all()

In [297]:
list_authors[0][0]

'Marilyn Monroe'

In [286]:
author_description = session.query(func.distinct(author.description)).filter(author.author_name==list_authors[0][0]).one()

In [287]:
author_description[0]

'Marilyn Monroe (born Norma Jeane Mortenson; June 1, 1926 – August 5, 1962) was an American actress, model, and singer, who became a major sex symbol, starring in a number of commercially successful motion pictures during the 1950s and early 1960s.After spending much of her childhood in foster homes, Monroe began a career as a model, which led to a film contract in 1946 with Twentieth Century-Fox. Her early film appearances were minor, but her performances in The Asphalt Jungle and All About Eve (both 1950), drew attention. By 1952 she had her first leading role in Don\'t Bother to Knock and 1953 brought a lead in Niagara, a melodramatic film noir that dwelt on her seductiveness. Her "dumb blonde" persona was used to comic effect in subsequent films such as Gentlemen Prefer Blondes (1953), How to Marry a Millionaire (1953) and The Seven Year Itch (1955). Limited by typecasting, Monroe studied at the Actors Studio to broaden her range. Her dramatic performance in Bus Stop (1956) was hailed by critics and garnered a Golden Globe nomination. Her production company, Marilyn Monroe Productions, released The Prince and the Showgirl (1957), for which she received a BAFTA Award nomination and won a David di Donatello award. She received a Golden Globe Award for her performance in Some Like It Hot (1959). Monroe\'s last completed film was The Misfits, co-starring Clark Gable with screenplay by her then-husband, Arthur Miller.Marilyn was a passionate reader, owning four hundred books at the time of her death, and was often photographed with a book.The final years of Monroe\'s life were marked by illness, personal problems, and a reputation for unreliability and being difficult to work with. The circumstances of her death, from an overdose of barbiturates, have been the subject of conjecture. Though officially classified as a "probable suicide", the possibility of an accidental overdose, as well as of homicide, have not been ruled out. In 1999, Monroe was ranked as the sixth greatest female star of all time by the American Film Institute. In the decades following her death, she has often been cited as both a pop and a cultural icon as well as the quintessential American sex symbol.'

In [278]:
author_born = session.query(func.distinct(author.born)).filter(author.author_name==list_authors[0][0]).one()

In [285]:
author_born[0]

'June 01, 1926 born in The United States'

In [308]:
total_quotes_author = session.query(quotes.text,tag.tag).filter(quotes.id==tag.quote_id).filter(quotes.id==author.author_id).filter(author.author_name==list_authors[0][0]).all()

In [312]:
total_quotes_author[0][0]

"“Imperfection is beauty, madness is genius and it's better to be absolutely ridiculous than absolutely boring.”"

In [292]:
total_quotes_author[0][1]

['edison', 'failure', 'inspirational', 'paraphrased']

In [293]:
len(list_authors)

50

In [302]:
author_count = session.query(func.count(author.author_name)).filter(author.author_name==list_authors[0][0]).one()

In [304]:
author_count[0]

7